
@{
    ViewBag.Title = "Index";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Companies List</h2>
@using(Html.BeginForm("AddNewCompany", "Company", FormMethod.Get))
{

<button class="btn btn-primary">Add Company</button>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Person</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td> @item.CompanyName</td>
                    <td>@item.City</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.ContactPerson</td>
                    <td>
                        <a href="EditCompany/@item.CompanyName"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                        </td>
                    <td><a href="CompanyDetails/@item.CompanyName"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a></td>
                    <td>
                       @using(Html.BeginForm("DeleteCompany", "Company", new {companyName = item.CompanyName}))
                       {
                           <button type="submit">Delete</button>
                       }
                    </td>
                </tr>
            };

        }

    </tbody>
</table>

